.experience{
    display: flex;
    gap: 10rem;
    height: 200px;
    position: absolute;
    left: 15%;
    display: flex;
    height: 77vh;
    margin-top: 1rem;  
}

.achievement{
    flex: 1;
    position: relative;
    display: flex;
    box-shadow: 0px,20px,24px,3px,rgba(251, 161, 40, 0.42);
    border-radius: 117px;
    flex-direction: row;
}
.achievement>*{
    z-index: 3;
    border: 1px solid var(--orangeCard);
    border-radius: 5px;
    display: flex;
}

.achievement>:nth-child(1)
{
    transform: scale(2);
    left:30%;
    top:60%;
    object-fit:fill;
}
.achievement>:nth-child(2)
{
    transform: scale(2);
    top:90%;
    left: 100%;
    margin-left: 70px;
    object-fit:fill;
}

.achievement>:nth-child(3)
{
    transform: scale(2);
    left:50%;
    margin-left: 70px;
    top:90%;
    object-fit:fill;

}
.achievement>:nth-child(4)
{
    transform: scale(2);
    left:50%;
    margin-left: 70px;
    top:90%;
    object-fit:fill;
}
.achievement>:nth-child(5)
{
    transform: scale(2);
    left:50%;
    margin-left: 70px;
    top:90%;
    object-fit:fill;
}
.achievement>:nth-child(6)
{
    transform: scale(2);
    left:50%;
    margin-left: 70px;
    top:90%;
    object-fit:fill;
}
.achievement>:nth-child(7)
{
    transform: scale(2);
    left:50%;
    margin-left: 70px;
    top:90%;
    object-fit:fill;
}
.achievement>:nth-child(8)
{
    transform: scale(2);
    left:50%;
    margin-left: 70px;
    top:90%;
    object-fit:fill;
}
.achievement>:nth-child(9)
{
    transform: scale(2);
    left:50%;
    margin-left: 70px;
    top:90%;
    object-fit:fill;
}
.head{
 font-size: 50px;
 text-align: center;
 margin-top: 20%;
 color: black;
 font-family: 'Gumela Regular';
 font-weight: bold;
 
}


.blur{
    position: absolute;
    border-radius: 50%;
    width: 22rem;
    height: 14rem;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -19%;
    left: 42%;
    filter: blur(72px);
}


@media screen and (max-width: 480px){
    .experience{
        margin-top: 0;
        flex-direction: column;
        gap: 5rem;
        height: 66rem;
        padding: 0;
    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 17rem;
    }
    .cards>*{
        position: static;
    }
}

